@import "bootstrap";

.jumbotron{
  background-image: url("../assets/home.jpg");
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;
  margin-top: 5px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: #F1F1F1;
  font-family: "Gill Sans", sans-serif;
  font-size: large;
  padding: 10px;
}
.balance_diet{
  margin-left: 5px;
}
#home{
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 69px;
}
#card{
  justify-content: center;
  text-align: center;
  margin: 20px;
}
#index-button{
  margin: 10px;
}
.col-sm-5{
  margin: 0 auto;
  margin-top: 35px;
}
.card-image{
  height: 390px;
}
