@import "bootstrap";

.jumbotron{
  background-image: url("../assets/home.jpg");
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hamburger-menu{
 margin-left: 95%;
 margin-top: -9%;
 
}
.hamburger-links{
  margin-left: 92%;
  margin-right: 1%;
  text-align: right;
  margin-top: -0.3%; 
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-align: left;
  background-color: #F1F1F1;
  font-family: "Gill Sans", sans-serif;
  font-size: large;
  padding: 12px;
  justify-content: center;
}
.footer-text{
 margin-left: 26%;
}
.cheese-text{
  padding-top: 4px;
}
.balance_diet{
  margin-left: 5px;
}
#home{
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 69px;
}
.card{
  justify-content: center;
  text-align: center;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 18px;
}
.col-sm-5{
  margin: 0 auto;
  margin-top: 35px;
}
.card-image{
  height: 390px;
}

.about-cards{
  width: 40%;
  text-align: center;
  vertical-align: center;
  background-color: whitesmoke;
  margin: 10% 40% 10% 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.logo{
  height: 7%;
  width: 7%;
  margin: 3px;
  border-radius: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer-link{
  margin-left: 100px;
}
.hamburger-menu{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.show-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 20px;
}
.show{
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}
.add-button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  text-align: center;
  justify-content: center;
}
.show-button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 20px;
  margin-bottom: 60px;
  text-align: center;
  justify-content: center;
}
.recipe-index{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  text-align: center;
  margin: 20px;
}
.jumbotron-text{
  font-size: 90px;
  font-family: "Gill Sans", sans-serif;
}
.jumbotron-small-text{
  font-size: 23px;
  font-family: "Gill Sans", sans-serif;
}
.my-recipe-button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 20px;
  margin-bottom: 60px;
  margin-top: 10px;
}
.delete-button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-sm-6{
  margin: 0 auto;
}
.recipe-nav-links{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.nav-button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.empty-userrecipes{
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

.no-recipe-pic{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10%;
}